<!DOCTYPE html>
<html lang="nl"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div    class="jumbotron errorHeader ">
    <h1>Welkom Administrator!</h1>
</div>
<div class="byeBody">
    <div    class="errorContainer">

    <div class="containerObject">

        <img th:src="@{/images/Fastned-Logo.jpg} " th:height="100px" th:width="100px"/>

        <div>U bent duidelijk een Administrator! <br> Helaas heeft die nu nog geen functionaliteit! <br> -Fastned</div>

        <form method="GET" th:action="@{/login}" >
            <button class="btn btn-danger btn-md" name="login" value="Login">Terug naar Login</button>
        </form>
    </div>


    </div>

</div>

</body>
</html>