<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Timesheet</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script>
        function rowClicked(value) {
            location.href = "/fastned/edit" + value
        }
    </script>
</head>
<body>
<h1>Welcome to Timesheet</h1>
<img th:src="@{/images/punch-in-cc-by-Tom-Blackwell.jpg}" style="float: right"/>

<form method="POST" th:action="@{/fastned}" th:object="${afspraakData}">

    <input type="hidden" th:field="*{id}" />

    <div class="form-group">
        <label>Status:&nbsp;</label><input type="text" th:field="*{status}"/> &nbsp;
        <span class="validationError"
              th:if="#{fields.hasErrors('status')}"
              th:errors="*{status}">entryDatumError
        </span>

        <span>
            <label >Installateurs</label> <br/>
            <select th:field = "*{installateurIds}">
                <option th:each = "installateur : ${availableInstallateurs}" class="installateur"
                        th:value = "${installateur.id}"
                        th:text = "${installateur.voornaam} " + "${installateur.naam}">
                </option>
            </select>&nbsp;
        </span>

        <span>
            <label >Laadpaal</label> <br/>
            <select th:field = "*{laadpaalIds}">
                <option th:each = "laadpaal : ${availableLaadpalen}" class="laadpaal"
                        th:value = "${laadpaal.id}"
                        th:text = "${laadpaal.voornaam} " + "${installateur.naam}">
                </option>
            </select>&nbsp;
        </span>

        <span>
            <label >Contract</label> <br/>
            <select th:field = "*{contractIds}">
                <option th:each = "contract : ${availableContracten}" class="contract"
                        th:value = "${contract.id}"
                        th:text = "${contract.voornaam} " + "${installateur.naam}">
                </option>
            </select>&nbsp;
        </span>
    </div>

    <div th:if="${afspraakData.getId()}==0" class="form-group">
        <button class="btn btn-success btn-md" name="startnow">Start=Now</button>
        <button class="btn btn-success btn-md" name="endnow">End=Now</button>
        <button class="btn btn-primary btn-md" name="submit">Create entry</button>
    </div>
    <div th:if="${afspraakData.getId()}!=0" class="form-group">
        <button class="btn btn-primary btn-md" name="submit">Update entry</button>
        <button class="btn btn-danger btn-md" name="delete">Delete entry</button>
        <button class="btn btn-warning btn-md" name="cancel">Cancel</button>
    </div>
</form>

<div th:if="${message}!=null" class="well" th:text="${message}">
</div>

</body>
</html>