<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Fastned Update</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Welcome to Fastned: Update</h1>
<img th:src="@{/images/fastned_logo.jpg}" style="float: right"/>

<form method="POST" th:action="@{/fastned/afspraak}">
    <div class="form-group">
        <span>
            <label >Afspraken</label> <br/>
            <select>
                <option th:each = "afspraak : ${availableAfspraken}" class="afspraak"
                        th:value = "${afspraak.id}"
                        th:text = "${afspraak.id} ">
                </option>
            </select>&nbsp;
        </span>
    </div>

    <div class="form-group">
        <button class="btn btn-primary btn-md" name="update">Update</button>
    </div>
</form>
</body>
</html>