<!DOCTYPE html>
<html lang="nl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Fastned</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Dit is de Fastned-Errorpagina!
    <span th:text="${fullname}"></span>
</h1>

<img th:src="@{/images/Fastned-Logo.jpg}" style="float: right"/>
<div>Het spijt ons, er is ergens iets foutgegaan. (Obviously) </div>

</body>
</html>