<!DOCTYPE html>
<html lang="nl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Fastned</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Welcome to Fastned errorpage <span th:text="${fullname}"> username </span></h1>
<img th:src="@{/images/punch-in-cc-by-Tom-Blackwell.jpg}" style="float: right"/>

<div>We are awfully sorry, but there is something rotten in the state of Denmark</div>

</body>
</html>