<!DOCTYPE html>
<html lang="nl"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Fastned</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="errorHeader jumbotron">
<h1>Dit is de Fastned-Errorpagina!
     <!--  <span th:text="${fullname}"></span>   wat is dit ??? -->
</h1>
</div >
<div class="errorBody jumbotron ">
<div class="errorContainer">
    <div class="containerObject">
        <p>Het spijt ons, er is ergens iets foutgegaan. (Obviously) </p>
    </div>

    <div class="containerObject">
        <form>
            <button id="btnNavigeerNaarBeheerAfspraak3" class="btn btn-success btn-md" type="submit" formmethod="GET" formaction="/fastned/afspraak">Ga terug naar afspraakbeheer</button>
        </form>
    </div>

    <div class="containerObject">
        <form method="POST" th:action="@{/logout}" >
            <button class="btn btn-danger btn-md logout" name="logout" value="Logout">Logout</button>
        </form>
        <form method="GET" th:action="@{/}" >
            <button class="btn btn-danger btn-md"> Terug naar Home</button>
        </form>
    </div>









</div>
</div>



</body>
</html>