<!DOCTYPE html>
<html lang="nl"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="errorHeader jumbotron">
    <h1>Welkom bij onze FastNed services!</h1>
</div >
  <div class="homeBody ">
      <div class="homeContainer">

          <div class="containerObject" style="height: 100px">

              <img th:src="@{/images/Fastned-Logo.jpg}"  th:width="100px" th:height="100px"/> <br>

          </div>


          <div class="containerObject">
              <form method="GET" th:action="@{/fastned/afspraak}">
                  <button class="btn btn-success">Afspraakbeheer voor onze planners</button>
              </form>
              <form method="GET" th:action="@{/admin}">
                  <button class="btn btn-success">Testpagina voor onze administrators</button>
              </form>
          </div>

       <div class="containerObject">
           <form method="POST" th:action="@{/logout}" >
               <button class="btn btn-danger btn-md logout" name="logout" value="Logout">Logout</button>
           </form>
       </div>

      </div>
  </div>
</body>
</html>