<!DOCTYPE html>
<html lang="nl"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="errorHeader jumbotron">
    <h1>Welkom bij onze FastNed services!</h1>
</div >
  <div class="errorBody ">
      <div class="homeContainer">
    <!-- FIXED: image wordt geladen -->
    <img th:src="@{/images/Fastned-Logo.jpg}" style="float: right" th:width="100px" th:height="100px"/> <br>

<!--    <p>Afspraakbeheer voor onze planners:-->
<!--        <a id="linkBeheerAfspraak" href="/fastned/afspraak">Afsprakenplanner</a>-->
<!--    </p>-->
          <p></p>
    <form method="GET" th:action="@{/fastned/afspraak}" style="float: right">
        <button class="btn btn-success">Afspraakbeheer voor onze planners</button>
    </form>
          <br>
<p></p>
    <form method="POST" th:action="@{/logout}" style="float: right">
        <button class="btn btn-danger btn-md logout" name="logout" value="Logout">Logout</button>
    </form>
      </div>
  </div>
</body>
</html>