<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Fastned</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>
<div id="homeHeader" class="jumbotron text-center">
    <h1>Welcome to</h1>
    <img th:src="@{/images/Fastned-Big-logo.jpg}"  th:width="auto" th:height="auto" />

</div  >
<div id="homeBody" class="text-center">
    <a href="/fastned/afspraak"><button id="btnHomeStart">START</button></a>
</div>




</body>
</html>