<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Fastned</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="jumbotron loginHeader">
        <h1>Welcome to </h1>
        <img th:src="@{/images/Fastned-Big-logo.jpg}"  />

    </div>

    <div class="loginBody">
<div class="loginContainer">
        <div class="loginError" th:if="${error}" >
            Unable to login. Check your username and password.<br/>
        </div>

        <form id="loginForm" method="POST" th:action="@{/login}">
            <div >
                <div>  <label for="username">Username</label></div>
                <div>   <input type="text" name="username"/></div>
                <div> <label for="password">Password</label></div>
                <div>  <input type="password" name="password"/></div>
                <div> <input type="submit" value="Login"/></div>
            </div>
        </form>
</div>
    </div>


</body>
</html>